
<h3>
	{{name}}
	{{?isFunction}}
		{{>params}}
	{{/isFunction}}
	{{?errornous}}
		<span class="errornous">
			&#9888;
		</span>
	{{/errornous}}
	{{?tags}}
		<ul class="tags">
			{{#tags}}
				<li>
					<code>
					{{name}}
					{{#value}}
						={{.}}
					{{/value}}
					</code>
				</li>
			{{/tags}}
		</ul>
	{{/tags}}
	{{?isFunction}}
		{{?returns}}
			<span class="returns"> &#8594; {{returns}}</span>
		{{/returns}}
	{{/isFunction}}
	{{^isFunction}}
		{{?value}}
			<span class="returns"> &#8594; {{>type}}: <code>{{value}}</code></span>
		{{/value}}
		{{^value}}
			<span class="returns"> &#8594; {{>type}}</span>
		{{/value}}
	{{/isFunction}}
</h3>
{{>info}}
<div class="doc">
	{{&doc}}
</div>
{{>origin}}
 
