<h3>
	{{name}}
	{{#isFunction}}
		{{>params}}
		{{?returns}}
			<span class="returns"> &#8594; {{returns}}</span>
		{{/returns}}
	{{/isFunction}}
	{{^isFunction}}
		<span class="returns"> &#8594; {{>type}}</span>
	{{/isFunction}}
</h3>
{{>info}}
<div class="doc">
	{{&doc}}
</div>

