<div class="info">
	{{?lineLink}}
		<strong>Line: </strong><a href="{{lineLink}}">{{line}}</a>
	{{/lineLink}}
	{{^lineLink}}
		<strong>Line: </strong>{{line}}
	{{/lineLink}}
	{{?from}}
		<strong> in </strong><a class="from" href="#{{fromLink}}">{{from}}</a>
	{{/from}}
</div>