<div class="line">
	<strong>Line: </strong>{{line}}
	{{?lineLink}}
		<a href="{{lineLink}}">{{line}}</a>
	{{/lineLink}}
	{{?from}}
		<strong> in </strong><a class="from" href="#{{fromLink}}">{{from}}</a>
	{{/from}}
</div>