
<div class="heading">
	<h1 type="{{main.type}}">
		{{basename}}
		{{?package}}<span class="namespace">{{package}}</span>{{/package}}
		{{?errornous}}<span class="errornous">&#9888;</span>{{/errornous}}
	</h1>
</div>

<div class="meta">
	<div class="section">
		<strong>Type:</strong> <a href="#{{main.type}}">{{main.type}}</a>
	</div>
	
	{{#main}}
		{{?tags}}
			<div class="section">
				<strong>Tags: </strong> 
				<ul class="tags">
					{{#tags}}
						<li>
							<code>
							{{name}}
							{{#value}}
								={{.}}
							{{/value}}
							</code>
						</li>
					{{/tags}}
				</ul>
			</div>
		{{/tags}}	
	{{/main}}

	{{?size}}
		<div class="section">
			<strong>Size: </strong> 
			<em>Compressed:</em> {{size.compressed}}, <em>Optimized:</em> {{size.optimized}}, <em>Zipped:</em> {{size.zipped}}
		</div>
	{{/size}}
	
	{{?permutations}}
		<div class="section">
			<strong>Permutations: </strong>
			<ul>
				{{#permutations}}
					<li><code>{{.}}</code></li>
				{{/permutations}}
			</ul>
		</div>
	{{/permutations}}
	
	{{?assets}}
		<div class="section">
			<strong>Assets: </strong>
			<ul>
				{{#assets}}
					<li><code>{{.}}</code></li>
				{{/assets}}
			</ul>
		</div>
	{{/assets}}	
	
	{{?uses}}
		<div class="section">
			<strong>Uses: </strong>
			<ul>
				{{#uses}}
					<li><a href="#{{.}}">{{.}}</a></li>
				{{/uses}}
			</ul>
		</div>
	{{/uses}}
	{{?usedBy}}
		<div class="section">
			<strong>Used by: </strong>
			<ul>
				{{#usedBy}}
					<li><a href="#{{.}}">{{.}}</a></li>
				{{/usedBy}}
			</ul>
		</div>
	{{/usedBy}}
	
	{{?implements}}
		<div class="section">
			<strong>Implements: </strong>
			<ul>
				{{#implements}}
					<li><a href="#{{.}}">{{.}}</a></li>
				{{/implements}}
			</ul>
		</div>
	{{/implements}}
	{{?implementedBy}}
		<div class="section">
			<strong>Implemented by: </strong>
			<ul>
				{{#implementedBy}}
					<li><a href="#{{.}}">{{.}}</a></li>
				{{/implementedBy}}
			</ul>
		</div>
	{{/implementedBy}}
		
	{{?includes}}
		<div class="section">
			<strong>Includes: </strong>
			<ul>
				{{#includes}}
					<li><a href="#{{.}}">{{.}}</a></li>
				{{/includes}}
			</ul>
		</div>
	{{/includes}}
	{{?includedBy}}
		<div class="section">
			<strong>Included by: </strong>
			<ul>
				{{#includedBy}}
					<li><a href="#{{.}}">{{.}}</a></li>
				{{/includedBy}}
			</ul>
		</div>
	{{/includedBy}}
</div>

{{?main.doc}}
	<div class="description doc">
		{{&main.doc}}
	</div>
{{/main.doc}}

{{?construct}}
	<div class="constructor">
		{{#construct}}
			<h2>
				Constructor
				{{?errornous}}
					<span class="errornous">&#9888;</span>
				{{/errornous}}
			</h2>
			{{init}}
			{{>params}}
		{{/construct}}
	</div>
{{/construct}}

{{?statics}}
	<div class="statics">
		<h2>Statics</h2>
		<ul>
			{{#statics}}
			<li id="static-{{name}}">
				{{> entry}}
			</li>
			{{/statics}}
		</ul>
	</div>
{{/statics}}

{{?properties}}
	<div class="properties">
		<h2>Properties</h2>
		<ul>
			{{#properties}}
			<li id="property-{{name}}">
				<h3>
					{{name}} 
					({{type}})
					{{?errornous}}<span class="errornous">&#9888;</span>{{/errornous}}
				</h3>
				<div class="doc">{{&doc}}</div>
				{{>origin}}
			</li>
		{{/properties}}
		</ul>
	</div>
{{/properties}}

{{?events}}
	<div class="events">
		<h2>Events</h2>
		{{#events}}
			<li id="event-{{name}}">
				{{name}} ({{type}})
				{{?errornous}}<span class="errornous">&#9888;</span>{{/errornous}}
			</li>
		{{/events}}
	</div>
{{/events}}

{{?members}}
	<div class="members">
		<h2>Members</h2>
		<ul>
			{{#members}}
			<li id="member-{{name}}">
				{{> entry}}
			</li>
			{{/members}}
		</ul>
	</div>
{{/members}}

