{{?origin}}
	<h4 class="origin">
		Included from:
		{{#origin}}
			<a href="#{{.}}">{{.}}</a>
		{{/origin}}
	</h4>
{{/origin}}

{{?overridden}}
	<h4 class="overridden">
		Overridden from: 
		{{#overridden}}
			<a href="#{{.}}">{{.}}</a>
		{{/overridden}}
	</h4>
{{/overridden}}

{{?interface}}
	<h4 class="implemented">
		Defined by: <a href="#{{interface}}">{{interface}}</a>
	</h4>
{{/interface}}