<span class="params">
	{{?params}}
		<span class="parens">(</span>
		{{#params}}
			{{?position}}, {{/position}}
			{{?type}}{{>type}}: {{/type}}
			<span class="name">{{name}}</span>
			{{?dynamic}}<span class="dynamic">...</span>{{/dynamic}}
			{{?optional}}<span class="dynamic">?</span>{{/optional}}
			{{?default}}<span class="default"><code>{{default}}</code></span>{{/default}}
		{{/params}}
		<span class="parens">)</span>
	{{/params}}
	{{^params}}
		<span class="parens">()</span>
	{{/params}}
</span>