body{
	color: #666;
	background: #f8fafb;
}

h1, h2{
	color: #1a5482;
}

h2{
	text-shadow: 0px 2px 2px rgba(255,255,255,0.5);
}

h3{
	color: #444;
}

a{
	color: #276a94;
}

pre, code{
	background: #f2f2f2;
	color: #666;
}

#head{
	background: -webkit-linear-gradient(top, #80477a, #673a63);
	background: -moz-linear-gradient(top, #80477a, #673a63);
	background: -ms-linear-gradient(top, #80477a, #673a63);
	background: linear-gradient(top, #80477a, #673a63);

	border-top-color: #c66cbd;
	border-bottom-color: #422740;
	
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	
	-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
	-ms-box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}

#tree {
	background: #322731;
	color: #ccc;
}

#tree a{
	text-shadow: rgba(0, 159, 250, 0.4);
}

#tree li a{
	padding-top: 1px;
	padding-bottom: 1px;
}

#tree li.active > a {
	color: #eee;

	background: -webkit-linear-gradient(top, #599cd8, #3575c6);
	background: -moz-linear-gradient(top, #599cd8, #3575c6);
	background: -ms-linear-gradient(top, #599cd8, #3575c6);
	background: linear-gradient(top, #599cd8, #3575c6);

	border-radius: 4px;
	padding-top: 0;
	padding-bottom: 0;
	
	border-top: 1px solid #4c8ed0;
	border-bottom: 1px solid #2a66bd;
}

#content h1 span{
	color: #aaa;
}

#content h3 > span.type{
	color: #baa6b9;
}

#content > div{
	border-top: 1px solid #e2e8eb;
	border-bottom: 1px solid #e2e8eb;
	
	background: -webkit-linear-gradient(top, white, #fbfdff 80px);
	background: -moz-linear-gradient(top, white, #fbfdff 80px);
	background: -ms-linear-gradient(top, white, #fbfdff 80px);
	background: linear-gradient(top, white, #fbfdff 80px);
}

#content > div+div{
	border-top-color: #fff;
}

#content > div > ul > li:before{
	color: #735370;
}

#content .params,
#content .returns{
	color: #666;
}

#content .parens{
	color: #735370;
}

#content .types{
	color: #baa6b9;
}

#content .returns > a:after,
#content .returns > span:after,
#content .types > a:after,
#content .types > span:after{
	color: #444;
}

#content .summary{
	color: #aaa;
}

#content li.open {
	border-color: #baa6b9;
	background: #fff;
}

#content li.open.active{
	border-color: #735370;
}

#content .details strong{
	color: #735370;
}

#content .details .line,
#content .details .origin,
#content .details .overridden,
#content .details .defined,
#content .details .config{
	color: #888;
}

#content ul.tags li{
	color: white;
	border-color: #ace2f9;
	color: #00abfa;
	background: #e1f1f8;
}