body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	background: #f8fafb;
	font-size: 18px;
	line-height: 1.8;
	
	/* Prevent font scaling in landscape */
	-webkit-text-size-adjust: none;
}

h1, h2{
	line-height: 1.3;
	color: #1a5482;
	font-family: Georgia, Times, "Times New Roman", serif;
}

h1{
	font-size: 60px;
	position: relative;
	padding-top: 20px;
}

h1 span.namespace{
	font-size: 16px;
	color: #aaa;
	position: absolute;
	top: 0;
	left: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2{
	font-size: 42px;
	text-shadow: 0px 2px 2px rgba(255,255,255,0.5);
}

code{
	font-family: "Inconsolata-g", "Consolas", monospace;
	font-size: 14px;
}

a{
	color: #276a94;
}


/* 
========================================================================
   HEAD 
========================================================================
*/

#head{
	background: #276a94;
	height: 60px;
	line-height: 60px;
	color: #eee;
	font-size: 30px;
	text-indent: 15px;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}



/* 
========================================================================
   TREE 
========================================================================
*/

#tree {
	width: 250px;
	position: absolute;
	top: 60px;
	left: 0;
	bottom: 0;
	overflow: auto;
	background: #121212;
	color: #a1aaaf;
}

#tree > ul{
	padding: 12px;
}

#tree ul ul{
	padding-left: 20px;
}

#tree a {
	display: block;
	padding-left: 24px;
	color: inherit;
	background-repeat: no-repeat;
	line-height: 32px;
	text-decoration: none;
}

#tree li ul {
	display: none;
}

#tree li.open > ul {
	display: block;
}

#tree .tree-package {
	background-image: url('glyphicons_144_folder_open.png');
	background-position: 0px 7px;
	font-weight: bold;
}

#tree > ul > li > a.tree-package{
	background-image: url('glyphicons_020_home.png');
	background-position: 0px 7px;
}

#tree .tree-class {
	background-image: url('glyphicons_036_file.png');
	background-position: 4px 7px;
}




/* 
========================================================================
   CONTENT 
========================================================================
*/

#content {
	position: absolute;
	left: 250px;
	top: 60px;
	right: 0;
	bottom: 0;
	overflow: auto;
}

#content h3{
	font-size: 24px;
}

#content > div{
	border-top: 1px solid #e2e8eb;
	border-bottom: 1px solid #e2e8eb;
	padding: 15px 30px;
	
	background: -webkit-linear-gradient(top, white, #fbfdff 80px);
}

#content > div+div{
	border-top-color: #fff;
}

#content .errornous{
	color: #ac2022;
}

#content > div > ul > li{
	position: relative;
}

#content li.open{
	border-left: 8px solid #1a5482;
	padding-left: 10px;
	margin-left: -18px;
	background: #eff5f8;
}

#content .params,
#content .returns{
	color: #aaa;
}

#content .types{
	color: #ddd;
}

#content .types a{
	color: inherit;
}

#content .info,
#content .statics .doc,
#content .properties .doc,
#content .events .doc,
#content .members .doc{
	display: none;
}

#content .open .info,
#content .statics .open .doc,
#content .properties .open .doc,
#content .events .open .doc,
#content .members .open .doc{
	display: block;
}

#content .info{
	font-size: 12px;
	position: absolute;
	top: 0;
	right: 0;
	background: #1a5482;
	padding: 2px 8px;
	color: white;
}

#content .info a{
	color: inherit;
	text-decoration: none;
}

#content .info code{
	color: #ccc;
	font-size: inherit;
}




/* 
========================================================================
   CONTENT :: META
========================================================================
*/

#content .meta{
	font-size: 14px;
}

#content .meta .section *{
	display: inline;
}

#content .meta .section strong{
	font-weight: bold;
}

#content .meta .section li:after{
	content: ", ";
}

#content .meta .section li:last-child:after{
	content: "";
}




/* 
========================================================================
   CONTENT :: DOC
========================================================================
*/

#content .doc p,
#content .doc ul,
#content .doc ol{
	margin: 10px 0;
}

#content .doc ul{
	list-style: square;
	padding-left: 28px;
}

#content .doc pre{
	border: 1px solid #777;
}

#content .doc table{
	width: 100%;
	border: 1px solid #777;
}

#content .doc table th,
#content .doc table td{
	text-align: left;
	font-size: 14px;
}

#content .doc table th{
	font-weight: bold;
	color: #777;
}


/* 
========================================================================
   CONTENT :: CODE
========================================================================
*/
