body {
	font-family: "Helvetica Neue", Helvetica, Arial;
	color: #111;
	background: #f8fafb;
	font-size: 18px;
	line-height: 1.8;
	
	/* Prevent font scaling in landscape */
	-webkit-text-size-adjust: none;
}

h1{
	font-size: 50px;
}

h2{
	font-size: 30px;
}

h3{
	font-size: 24px;
}

code{
	font-family: "Inconsolata-g", "Consolas", monospace;
	font-size: 14px;
	border: 1px solid red;
}


/* 
========================================================================
   HEAD 
========================================================================
*/

#head{
	background: #276a94;
	height: 50px;
	line-height: 50px;
	color: #eee;
	font-size: 30px;
	text-indent: 30px;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}



/* 
========================================================================
   TREE 
========================================================================
*/

#tree {
	width: 250px;
	position: absolute;
	top: 50px;
	left: 0;
	bottom: 0;
	overflow: auto;
	background: #121212;
	color: #a1aaaf;
}

#tree > ul{
	padding: 12px;
}

#tree ul ul{
	padding-left: 20px;
}

#tree a {
	display: block;
	padding-left: 24px;
	color: inherit;
	background-repeat: no-repeat;
	line-height: 32px;
	text-decoration: none;
}

#tree li ul {
	display: none;
}

#tree li.open > ul {
	display: block;
}

#tree .tree-package {
	background-image: url('glyphicons_144_folder_open.png');
	background-position: 0px 7px;
	font-weight: bold;
}

#tree > ul > li > a.tree-package{
	background-image: url('glyphicons_020_home.png');
	background-position: 0px 7px;
}

#tree .tree-class {
	background-image: url('glyphicons_036_file.png');
	background-position: 4px 7px;
}








/* 
========================================================================
   CONTENT 
========================================================================
*/


#content {
	position: absolute;
	left: 250px;
	top: 50px;
	right: 0;
	bottom: 0;
	overflow: auto;
	
}

#content ul.params li{
	display: inline-block;
}

#content ul.params li:after{
	content: ", ";
	
}

#content ul.params{
	border: 1px solid black;
	display: inline-block;
}

#content .statics, 
#content .properties, 
#content .events, 
#content .members{
	background: #eee;
	border-top: 1px solid #efe;
	border-bottom: #ede;
}

#content .statics .doc,
#content .properties .doc,
#content .events .doc,
#content .members .doc{
	display: none;
}

#content .statics .open .doc,
#content .properties .open .doc,
#content .events .open .doc,
#content .members .open .doc{
	display: block;
}

#content .statics .returns,
#content .properties .returns,
#content .events .returns,
#content .members .returns{
	font-style: italic;
}

#content .returns,
#content .params{
	font-size: 14px;
}



/* 
========================================================================
   CONTENT :: DOC
========================================================================
*/

#content .doc p,
#content .doc ul,
#content .doc ol{
	margin: 10px 0;
}

#content .doc ul{
	list-style: square;
	padding-left: 28px;
}

#content .doc pre{
	border: 1px solid #777;
}

#content .doc table{
	width: 100%;
	border: 1px solid #777;
}

#content .doc table th,
#content .doc table td{
	text-align: left;
	font-size: 14px;
}

#content .doc table th{
	font-weight: bold;
	color: #777;
}


/* 
========================================================================
   CONTENT :: CODE
========================================================================
*/
