<li id="{{name}}">
	<h3>
		{{name}}
		{{?params}}
			(<ul class="params">
			{{#params}}
				<li>{{name}}{{>type}}</li>
			{{/params}}
			</ul>)
		{{/params}}
		{{?returns}}
			<span class="returns">&#8594; {{returns}}</span>
		{{/returns}}
	</h3>
	<div class="doc">{{&doc}}</div>
</li>
