
<div id="heading">
	<h1>
		<span class="icon"></span>
		{{id}}
		<small>
			{{#constructor}} (
			{{#params}}
	   			{{#position}} , {{/position}}
				<span class="param">{{name}}<sub>{{type}}</sub></span>
			{{/params}}
			) {{/constructor}}
<!--			<span class="param optional">crap<sub>String</sub></span> -->
		</small>
	</h1>
</div>

<div class="triangle-l"></div>
<div class="triangle-r"></div>

<div class="meta">

<!--
	Implements <a href="#">Renderer</a>.
	Inherits from <a href="#">BaseRenderer</a>, <a href="#">ExtraClass</a> and <a href="#">Class</a>.
-->
</div>

<div id="description">
{{{main.doc}}}
</div>


<div id="detail" class="detail">

	<div class="line-background"></div>

	<h2>Statics<span>Returns</span></h2>
	<ul>
		{{#statics}}
		<li>
			<span class="line-number">{{line}}</span>
			<h3>
				{{name}}
				<span class="params">(
	   			{{#params}}
	   				{{#position}} , {{/position}}
					<span class="param">
						{{name}}
						<span class="type"> {{type}} </span>
					</span>
	   			{{/params}}
				)</span>
			</h3>
			<span class="return-value">{{returns}}{{^returns}}-{{/returns}}</span>
		</li>
		{{/statics}}
		{{^statics}}
		<li><h3>- No Statics -</h3></li>
		{{/statics}}
	</ul>

	<h2>Members<span>Returns</span></h2>
	<ul>
		{{#members}}
		<li>
			<span class="line-number">{{line}}</span>
			<h3>
				{{name}}
				<span class="params">
	   			{{#params}}
	   				{{#position}} , {{/position}}
	   				<span class="type">{{type}}</span> {{.}}
	   			{{/params}}
				</span>
			</h3>
			<span class="return-value">{{returns}}{{^returns}}-{{/returns}}</span>
			<div class="doc">{{{doc}}}</div>
		</li>
		{{/members}}
		{{^members}}
		<li><h3> - No Members -</h3></li>
		{{/members}}
	</ul>

</div>

<!--
			<code><pre class="brush: js">function foo() {
	alert("very important code");
	prompt("Really? A prompt in 2012?");	
};</pre></code>

		</div>

		<div class="detail">

			<h2>Properties<span>Default value</span></h2>

			<ul>
				<li>
					<h3>foo</h3>
					<span class="return-value"><span class="type">Map</span> <span class="param">{}</span></span>
				</li>

				<li>
					<h3>bar</h3>
					<span class="return-value"><span class="type">String</span> <span class="param">"auto"</span></span>
				</li>

			</ul>

			<h2>Events<span>Data</span></h2>

			<ul>
				<li>
					<h3>onmousedown</h3>
					<span class="return-value"><span class="type">Object</span> <span class="param">event</span></span>
				</li>

				<li>
					<h3>onmousemove</h3>
					<span class="return-value"><span class="type">Object</span> <span class="param">event</span></span>
				</li>

			</ul>

		</div>


	</div>
-->

