
<div class="heading">
	<h1>{{id}}</h1>
</div>

<div class="meta">
	{{?uses}}
		<div class="section">
			<strong>Uses:</strong>
			<ul>
			{{#uses}}
				<li><a href="#{{.}}">{{.}}</a></li>
			{{/uses}}
			</ul>
		</div>
	{{/uses}}
	{{?usedBy}}
		<div class="section">
			<strong>Used by:</strong>
			<ul>
			{{#usedBy}}
				<li><a href="#{{.}}">{{.}}</a></li>
			{{/usedBy}}
			</ul>
		</div>
	{{/usedBy}}
	
	{{?implements}}
		<div class="section">
			<strong>Implements:</strong>
			<ul>
			{{#implements}}
				<li><a href="#{{.}}">{{.}}</a></li>
			{{/implements}}
			</ul>
		</div>
	{{/implements}}
	{{?implementedBy}}
		<div class="section">
			<strong>Implemented by:</strong>
			<ul>
			{{#implementedBy}}
				<li><a href="#{{.}}">{{.}}</a></li>
			{{/implementedBy}}
			</ul>
		</div>
	{{/implementedBy}}
		
	{{?includes}}
		<div class="section">
			<strong>Includes:</strong>
			<ul>
			{{#includes}}
				<li><a href="#{{.}}">{{.}}</a></li>
			{{/includes}}
			</ul>
		</div>
	{{/includes}}
	{{?includedBy}}
		<div class="section">
			<strong>Included by:</strong>
			<ul>
			{{#includedBy}}
				<li><a href="#{{.}}">{{.}}</a></li>
			{{/includedBy}}
			</ul>
		</div>
	{{/includedBy}}
</div>

{{?main.doc}}
	<div class="description doc">
	{{&main.doc}}
	</div>
{{/main.doc}}

{{?constructor}}
<div class="constructor">
	{{#constructor}}
	<h2>Constructor</h2>
		{{id}} ({{#params}}
			{{#position}} , {{/position}}
			<span class="param">{{name}}<sub>{{type}}</sub></span>
		{{/params}})
	{{/constructor}}
</div>
{{/constructor}}

{{?statics}}
<div class="statics">
	<h2>Statics</h2>
	<ul>
		{{#statics}}
			{{> entry}}
		{{/statics}}
	</ul>
</div>
{{/statics}}

{{?properties}}
	<div class="properties">
		<h2>Properties</h2>
		<ul>
			{{#properties}}
			<li id="{{name}}">
				<h3>{{name}} ({{type}})</h3>
				<div class="doc">{{&doc}}</div>
				{{?origin}}
				<div class="origin">
					Included from:
					<ul>
					{{#origin}}
						<li><a href="#{{.}}">{{.}}</a></li>
					{{/origin}}
					</ul>
				</div>
				{{/origin}}
			</li>
		{{/properties}}
		</ul>
	</div>
{{/properties}}

{{?events}}
	<div class="events">
		<h2>Events</h2>
		{{#events}}
			<li>{{name}} ({{type}})</li>
		{{/events}}
	</div>
{{/events}}

{{?members}}
	<div class="members">
		<h2>Members</h2>
		<ul>
			{{#members}}
				{{> entry}}
			{{/members}}
		</ul>
	</div>
{{/members}}

