
<div class="heading">
	<h1>{{id}}</h1>
</div>

<div class="meta">
	{{?uses}}
		<h2>Uses</h2>
		<ul>
		{{#uses}}
			<li><a href="#{{.}}">{{.}}</a></li>
		{{/uses}}
		</ul>
	{{/uses}}
	
	{{?implements}}
		<h2>Implements</h2>
		<ul>
		{{#implements}}
			<li><a href="#{{.}}">{{.}}</a></li>
		{{/implements}}
		</ul>
	{{/implements}}
	{{?implementedBy}}
		<h2>Implemented By</h2>
		<ul>
		{{#implementedBy}}
			<li><a href="#{{.}}">{{.}}</a></li>
		{{/implementedBy}}
		</ul>
	{{/implementedBy}}
		
	{{?includes}}
		<h2>Includes</h2>
		<ul>
		{{#includes}}
			<li><a href="#{{.}}">{{.}}</a></li>
		{{/includes}}
		</ul>
	{{/includes}}
	{{?includedBy}}
		<h2>Included By</h2>
		<ul>
		{{#includedBy}}
			<li><a href="#{{.}}">{{.}}</a></li>
		{{/includedBy}}
		</ul>
	{{/includedBy}}
</div>

<div class="description doc">
{{&main.doc}}
</div>

{{?statics}}
<div class="statics">
	<h2>Statics</h2>
	<ul>
		{{#statics}}
		<li data-hash=":{{name}}">
			<h3>
				{{name}}
				{{?params}}
					<span class="params">(
					{{#params}}
					{{#position}} , {{/position}}
						<span class="param">
							{{name}}
							<span class="type"> {{type}} </span>
						</span>
						{{/params}}
					)</span>
				{{/params}}
				{{?returns}}
					<span class="returns">&#8594; {{returns}}</span>
				{{/returns}}
			</h3>
			<div class="doc">{{&doc}}</div>
		</li>
		{{/statics}}
	</ul>
</div>
{{/statics}}

{{#constructor}}
	<h2>Constructor</h2>
	<div class="constructor">
		{{id}} ({{#params}}
			{{#position}} , {{/position}}
			<span class="param">{{name}}<sub>{{type}}</sub></span>
		{{/params}})
	</div>
{{/constructor}}

{{?properties}}
	<div class="properties">
		<h2>Properties</h2>
		{{#properties}}
			<li>{{name}} ({{type}})</li>
		{{/properties}}
	</div>
{{/properties}}

{{?events}}
	<div class="events">
		<h2>Events</h2>
		{{#events}}
			<li>{{name}} ({{type}})</li>
		{{/events}}
	</div>
{{/events}}

{{?members}}
	<div class="members">
		<h2>Members</h2>
		<ul>
			{{#members}}
			<li data-hash=":{{name}}">
				<h3>
					{{name}}
					<span class="params">
						{{#params}}
						{{#position}} , {{/position}}
						<span class="type">{{type}}</span> {{.}}
						{{/params}}
					</span>
				</h3>
				<span class="return-value">{{returns}}{{^returns}}-{{/returns}}</span>
				<div class="doc">{{&doc}}</div>
			</li>
			{{/members}}
		</ul>
	</div>
{{/members}}

