
<div class="heading">
	<h1>{{id}}</h1>
</div>

<div class="meta">
</div>

<div class="description">
{{&main.doc}}
</div>

{{?statics}}
<div class="statics">
	<h2>Statics</h2>
	<ul>
		{{#statics}}
		<li id="{{name}}">
			<h3>
				{{name}}
				<span class="params">(
				{{#params}}
				{{#position}} , {{/position}}
					<span class="param">
						{{name}}
						<span class="type"> {{type}} </span>
					</span>
					{{/params}}
				)</span>
			</h3>
			<span class="return-value">{{returns}}{{^returns}}-{{/returns}}</span>
			<div class="doc">{{&doc}}</div>
		</li>
		{{/statics}}
	</ul>
</div>
{{/statics}}

{{#constructor}}
	<div class="constructor">
		{{id}} ({{#params}}
			{{#position}} , {{/position}}
			<span class="param">{{name}}<sub>{{type}}</sub></span>
		{{/params}})
	</div>
{{/constructor}}

{{?properties}}
	<div class="properties">
		<h2>Properties</h2>
		<ul>
		{{#properties}}
			<li id="{{name}}">
				<h3>{{name}}</h3>
				<div class="doc">{{&doc}}</div>
			</li>
		{{/properties}}
		</ul>
	</div>
{{/properties}}

{{?events}}
	<div class="events">
		<h2>Events</h2>
		{{#events}}
			<li>{{name}}</li>
		{{/events}}
	</div>
{{/events}}

{{?members}}
	<div class="members">
		<h2>Members</h2>
		<ul>
			{{#members}}
			<li id="{{name}}">
				<h3>
					{{name}}
					<span class="params">
						{{#params}}
						{{#position}} , {{/position}}
						<span class="type">{{type}}</span> {{.}}
						{{/params}}
					</span>
				</h3>
				<span class="return-value">{{returns}}{{^returns}}-{{/returns}}</span>
				<div class="doc">{{&doc}}</div>
			</li>
			{{/members}}
		</ul>
	</div>
{{/members}}

